#title{
  text-align: center;
}



li:last-child {
  border-right: none;
  float:right
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#border {
  border: 2px dotted red;
  width: auto;
  height: 400px;
}

#startButton{
  width: 20%;
 margin-left: 40%;
 height: 50px;
}