#navUl li:last-child {
  border-right: none;
  float: right;
}

#navContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20,45,67);
}

#navUl li {
  float: left;
}

#navUl li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bolder;
  font-family: "Ink Free", Times, serif;
}

#navUl li a:hover {
  background-color: white;
  color: rgb(108, 2, 206);
  transition: 0.5s;
  border-radius: 10px;
}

/* this is catchMe part */
#border {
  border: 2px rgb(86, 28, 245);
  max-width: auto;
  height: 400px;
  border-style: ridge;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

#startButton {
  max-width: 20%;
  margin-left: 40%;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(60, 89, 255);
  border-color: #537ff7;
  color: white;
}

#startButton:hover {
  background-color: rgb(209, 209, 253);
  color: #111;
}
#pauseButtonStyle {
  max-width: 20%;
  margin-left: 40%;
  height: 50px;
  border-radius: 20px;
  background-color: chocolate;
  border-color: #c85000;
}

#pauseButtonStyle:hover {
  background-color: rgb(134, 134, 243);
}

.scoreInfo {
  font-family: Courier;
  color: darkblue;
}
#scoreTable {
  margin-left: 5%;
  border: #066aee double 1px;
  padding-left: 1%;
  max-width: 20%;
  border-radius: 3%;
  background-color: aliceblue;
}

#title {
  text-align: center;
  font-size: 5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 5px 5px #066aee;
  color: #82b3f3;

  height: 80px;
  margin: 3%;
}

#heartStyle {
  max-width: 175px;
  height: 175px;
}

/* mytaxi page */

#mainContainer {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  grid-template-rows: 40% auto auto auto;
  grid-template-areas:
    "header header header"
    "taxiInfo taxiInfo extraInfo"
    "adsPart reservationInfo mapsStyle "
    " adsPart resultBox mapsStyle";
  row-gap: 4%;
  column-gap: 1%;
  padding: 1%;
  margin-right: 1%;
}

#taxiInfoPart {
  grid-area: taxiInfo;
  color: rgb(82, 44, 18);
  justify-self: end;
}

#extraInfo {
  grid-area: extraInfo;
}
#adsPart {
  grid-area: adsPart;
}

#header {
  display: grid;

  align-items: start;
  grid-area: header;

  color: rgb(209, 218, 191);
  grid-template-columns: 55% 20% 25%;
  grid-template-rows: 70% 30%;

  background-image: url("./taxi-sign-night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head {
  font-family: monospace;
  font-size: 10vw;
  text-align: center;
}

#header div > h3 {
  font-size: 2vw;
}

#resultBox {
  grid-area: resultBox;

  border-bottom: #002861 1px solid;
  border-radius: 15px;
}

#mapsStyle {
  width: 95%;
  height: auto;
  padding-top: 5%;
  grid-area: mapsStyle;
}
#reservationInfo {
  display: grid;
  grid-template-columns: 30% 70%;

  grid-template-rows: auto auto auto auto;
  grid-area: reservationInfo;
  grid-template-areas:
    " daparture-Label departure-Input "
    " arriving-Label arriving-Input "
    " reservation-Date-Label reservation-Date-Input "
    " reservation-Button reservation-Button ";
  border: thistle 1px solid;
  border-radius: 15px;
  padding: 3%;
}

#daparture-Label {
  grid-area: daparture-Label;
}
#departure-Input {
  grid-area: departure-Input;
  justify-self: end;
}
#arriving-Input {
  grid-area: arriving-Input;
  justify-self: end;
}
#arriving-Label {
  grid-area: arriving-Label;
}
#reservation-Date-Label {
  grid-area: reservation-Date-Label;
}

#reservation-Date-Input {
  grid-area: reservation-Date-Input;
}

#reservation-Button {
  grid-area: reservation-Button;
  justify-self: end;
  align-self: self-end;
}

.reservationLabel {
  font-size: 1.5vw;

  color: #10045a;
  font-weight: bolder;
}

.reservationInput {
  max-width: 80%;
  margin-left: 15%;
  height: 35px;
  font-size: 1.2vw;
  text-align: center;

  border-radius: 20px;
  background-color: rgb(235, 234, 255);
  border: none;
}
.reservationInput:focus {
  outline: none;
  border-color: #356bff;
  box-shadow: 0 0 10px #054080;
}

.submitButtons {
  background-image: linear-gradient(to right, rgb(50, 50, 68), rgb(24, 13, 46));
  border-radius: 15px;
  width: 100%;
  background-clip: padding-box;

  border: 1px solid transparent;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.4vw;
  font-weight: 600;

  min-height: 3rem;

  transition: all 250ms;

  touch-action: manipulation;
}

.submitButtons:hover {
  transform: translateY(-5px);
  background-color: rgb(147, 207, 247);
  background-image: none;
  color: #002861;
  box-shadow: 0 0 5px #aba0f3;
}

#result {
  width: 60%;
  margin-left: 10%;

  text-align: center;
  border-radius: 15px;
  background-color: #1a1e24;
  color: white;
}

/* footer part */
#footer {
  background-color: rgb(108, 2, 206);
  display: grid;
  margin-top: 10%;
  grid-template-columns: 25% 25% 25% 25%;

  grid-template-areas: "subFooter subFooter1 subFooter2 subFooter3";
  grid-area: footer;

  max-width: 100%;
  padding-bottom: 6%;
}

.footerLinks {
  color: #fff;
  text-decoration: none;
  font-size: 1.6vw;
}

.linkDivs:first-child {
  padding-left: 20%;
}

#subFooter {
  grid-area: subFooter;
  padding-top: 10px;
}

#subFooter1 {
  grid-area: subFooter1;
  padding-top: 10px;
}
#subFooter2 {
  grid-area: subFooter2;
  padding-top: 10px;
}

#subFooter3 {
  grid-area: subFooter3;
}
/* catchMe */

/* todo list */

#todoContainer {
  min-height: 500px;

  display: grid;
  grid-template-columns: 15% 40% 35%;
  grid-template-rows: 100px 50px 5% auto;
  grid-template-areas:
    "toDoTitle toDoTitle toDoTitle"
    "todoInput todoInput todoButton"
    "inputErrorMsg inputErrorMsg inputErrorMsg "
    " todoAds  mainList  doneList";
  column-gap: 1%;
  row-gap: 1%;
  margin-bottom: 30px;
  padding: 1%;
}

#toDoList {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-template-rows: auto;
  grid-template-areas: "task1 Ok delete";
  border-bottom: 1px blue double;
  margin-right: 15%;
}

#errorMsg {
  grid-area: inputErrorMsg;
  padding-left: 60%;
  color: red;
  font-size: 1.3vw;
  animation: fadeIn 4s;
  font-weight: bolder;
  align-self: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#todoAds {
  grid-area: todoAds;
}
.taskList {
  grid-area: task1;
  padding-right: 4%;
  margin-right: 5%;
}

#toDoTitle {
  grid-area: toDoTitle;
  align-self: center;
  justify-self: center;
  font-size: 4vw;
  font-family: "MV Boli", Times, serif;
  color: #c85000;
  font-weight: bolder;
}

#todoDone {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-template-rows: auto;
  grid-template-areas: "donetaskList delete delete";
  border-bottom: 1px blue double;
}

.donetaskList {
  grid-area: donetaskList;
  padding-right: 4%;
}

#todoButton {
  grid-area: todoButton;
  width: 30%;
  border: none;
  border-radius: 30px;
  background-color: #356bff;
  color: white;
  margin-left: 10%;
  font-size: 3vw;
  align-self: center;
}
#todoButton:hover {
  background-color: #baadd8;
  color: #111;
  cursor: pointer;
  box-shadow: 0 0 10px #054080;
}
#todoInput {
  grid-area: todoInput;
  border-radius: 30px;
  width: 40%;
  justify-self: end;
  border: #537ff7 1px;
  border-style: inset;
  padding-left: 2%;
}
#todoInput:focus {
  border-color: #356bff;
  box-shadow: 0 0 10px #054080;
  outline: none;
}
#mainList {
  grid-area: mainList;
}
#doneList {
  grid-area: doneList;
}

.OkImg {
  grid-area: Ok;
  cursor: pointer;
  align-self: center;
}

.deleteImg {
  grid-area: delete;
  cursor: pointer;
  align-self: center;
}

.sublist {
  background-color: #fff;
  list-style-type: none;
}

.taskh2 {
  text-align: left;
  font-size: 2vw;
  color: #356bff;
  font-family: "MV Boli", Times, serif;
}
.img {
  max-width: 50%;
  height: 30px;
  margin-top: 20px;
  font-style: oblique;
}

.taskTitle {
  color: rgb(56, 78, 3);
  font-family: "Ink Free", Times, serif;
}

/* homepage */



/* --playlist Page-- */

#playListContainer {
  display: grid;
  grid-template-columns: 15% auto auto auto 15%;
  grid-template-rows: 70% 20% 40% 30%;
  grid-template-areas:
    "playList-Title playList-Title playList-Title playList-Title playList-Title"
    "Playlist-Ads playlistInput playlistInput searchButton Playlist-Ads-2 "
    "Playlist-Ads control-Panel control-Panel control-Panel Playlist-Ads-2 "
    "Playlist-Ads music-Suggestions music-Suggestions music-Suggestions Playlist-Ads-2 ";

  margin-bottom: 20%;
}

#playList-Title {
  grid-area: playList-Title;
}
#searchButton {
  grid-area: searchButton;
}
#control-Panel {
  grid-area: control-Panel;
}
#Playlist-Ads-2 {
  grid-area: Playlist-Ads-2;
}
#playlistInput {
  grid-area: playlistInput;
  justify-self: end;
  margin-right: 1%;
  width: 90%;
}

#musicInput {
  width: 90%;
  color: #356bff;
  border-radius: 50px;
  font-size: 3vw;
  height: 60%;
  border: #537ff7 1px;
  border-style: inset;
  padding-left: 3%;
}

#musicInput:focus {
  border-color: #356bff;
  box-shadow: 0 0 10px #054080;
  outline: none;
}
#search-Music-Button {
  border-radius: 100px;
  height: auto;
  color: rgb(12, 33, 124);
  font-size: 2vw;
  width: auto;
  padding: 3%;
  background-color: yellowgreen;
  border: transparent;
}
#search-Music-Button:hover {
  background-color: #066aee;
  color: white;
  border: transparent;
  border-radius: 100px;
  height: auto;
  font-size: 2vw;
  width: auto;
  padding: 3%;
  box-shadow: 0 0 10px #054080;
  cursor: pointer;
}
#searchButton {
  grid-area: searchButton;
}
#control-Panel {
  grid-area: control-Panel;
}
#music-Suggestions {
  grid-area: music-Suggestions;
}
.control-Panel-Image {
  width: 25%;
}

#control-Panel {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "playlist-Image playlist-Image playlist-Image playlist-Image"
    "music-Info music-Info music-Info music-Info"
    "playButtonImage pauseButtonlImage nextButtonImage stopButtonlImage";
}
.control-Panel-Image:hover {
  box-shadow: 0 0 10px blue;
  border-radius: 50px;
  opacity: 0.8;
  transform: scale(1.1);
}

#playlist-Image {
  grid-area: playlist-Image;
}
#music-Info {
  grid-area: music-Info;
}
#playButtonImage {
  grid-area: playButtonImage;
}

#pauseButtonlImage {
  grid-area: pauseButtonlImage;
}
#nextButtonImage {
  grid-area: nextButtonImage;
}
#stopButtonlImage {
  grid-area: stopButtonlImage;
}

#playList-Title h1 {
  text-align: center;
  font-size: 6vw;
  font-family: "MV Boli", Times, serif;
  color: #c85000;
  font-weight: bolder;
}

