



li:last-child {
  border-right: none;
  float:right
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(108, 2, 206);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}


/* this is catchMe part */
#border {
  border: 2px  rgb(86, 28, 245);
  width: auto;
  height: 400px;
  border-style: ridge;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
 
}

#startButton{
  width: 20%;
 margin-left: 40%;
 height: 50px;
 border-radius: 20px;
 background-color: rgb(60, 89, 255);
 border-color: #537ff7;
 color: white;
}

#startButton:hover{
  background-color: rgb(209, 209, 253);
  color: #111;
}
#pauseButtonStyle{
  width: 20%;
  margin-left: 40%;
  height: 50px;
  border-radius: 20px;
  background-color: chocolate;
  border-color: #c85000;

}

#pauseButtonStyle:hover{
  background-color: rgb(134, 134, 243);
}

.scoreInfo {
  font-family: Courier;
  color: darkblue;
  
}
#scoreTable{
  margin-left: 5%;
  border: #066aee double 1px;
  padding-left: 1%;
  width: 20%;
  border-radius: 3%;
  background-color: aliceblue;
}


@keyframes changeText {
  0%{
    font-size: 50px;
    color: #82b3f3;
  }
  30%{
    font-size: 53px;
color: #db4b9f;
  }
  60%{
    font-size: 55px;
    color: #f1b57c;
  }
  100%{
    font-size: 57px;
    color: rgb(236, 10, 10);
    text-shadow: #fb8332;
  }
}

#title{
  text-align: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: #066aee 3px 3px;
  color: #82b3f3;
  animation: changeText 7s   infinite alternate backwards;
  animation-timing-function: ease-out;
  height: 80px;
  margin: 3%;
}

#heartStyle{
  width: 175px;
  height: 175px;

 
  

}






/* mytaxi page */
#header{
  display: grid;
  margin-top: 40px;
  margin-left: 17%;
  margin-right: 19%;
  color: rgb(108, 22, 189);
  grid-template-columns: 25% 30% 20%;
  grid-template-rows: 80% 20% ;
  background-image: linear-gradient(to left, rgb(235, 234, 255), rgb(211, 187, 255));
height: 300px;
}


#head{
  font-family:Courier;
    font-size:100px;
    text-align:center;
    margin-top: 20px;
   
}

.headVertical{
  font-family:Courier;
  font-size:100px;
  text-align:center;
  writing-mode:  vertical-rl;
text-orientation:  mixed;
margin-left: 50%;
margin-top: 20px;

}

#reservationInfo {
  display: grid;
 grid-template-columns: 50% 50%;
  margin: 4%;
  
  border-style: inset;
  margin-top: 10px;
  background-image: linear-gradient(to right, rgb(235, 234, 255), rgb(101, 24, 245));
  border-style: none;
}

.reservationLabel {
  font-size:30px;
  margin:15px;
  width: 30%;
  color: rgb(126, 126, 255);
  
}

.reservationInput{
  width: 80%;
  margin: 2%;
  height: 35px;
  font-size: auto;
  text-align: center;
  color: blue;
  border-radius: 2%;
  border-start-start-radius: 20px;
  background-color: rgb(235, 234, 255);
  border:none;
  border-bottom-right-radius: 20px;
  
  
}



.submitButtons{
  background-image: linear-gradient(to right, rgb(94, 90, 221), rgb(161, 118, 247));
  border-radius: 15px;
  align-items: center;
  background-clip: padding-box;
  background-color: #134ff3;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 40%;
}


.submitButtons:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.submitButtons:hover {
  transform: translateY(-1px);
}

.submitButtons:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

#taxiImg{

  width: 70%;
  height: 60%;
opacity: 0.5;
  -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotateY(360deg); 
    } 

  
}







/* footer part */
#footer{
  background-color: rgb(108, 2, 206);
  
}

.footerLinks{
  color: #fff;
}


/* catchMe */

