



li:last-child {
  border-right: none;
  float:right
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(108, 2, 206);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}


/* this is catchMe part */
#border {
  border: 2px  rgb(86, 28, 245);
  width: auto;
  height: 400px;
  border-style: ridge;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
 
}

#startButton{
  width: 20%;
 margin-left: 40%;
 height: 50px;
 border-radius: 20px;
 background-color: rgb(60, 89, 255);
 border-color: #537ff7;
 color: white;
}

#startButton:hover{
  background-color: rgb(209, 209, 253);
  color: #111;
}
#pauseButtonStyle{
  width: 20%;
  margin-left: 40%;
  height: 50px;
  border-radius: 20px;
  background-color: chocolate;
  border-color: #c85000;

}

#pauseButtonStyle:hover{
  background-color: rgb(134, 134, 243);
}

.scoreInfo {
  font-family: Courier;
  color: darkblue;
  
}
#scoreTable{
  margin-left: 5%;
  border: #066aee double 1px;
  padding-left: 1%;
  width: 20%;
  border-radius: 3%;
  background-color: aliceblue;
}


@keyframes changeText {
  0%{
    font-size: 50px;
    color: #82b3f3;
  }
  30%{
    font-size: 53px;
color: #db4b9f;
  }
  60%{
    font-size: 55px;
    color: #f1b57c;
  }
  100%{
    font-size: 57px;
    color: rgb(236, 10, 10);
    text-shadow: #fb8332;
  }
}

#title{
  text-align: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: #066aee 3px 3px;
  color: #82b3f3;
  animation: changeText 7s   infinite alternate backwards;
  animation-timing-function: ease-out;
  height: 80px;
  margin: 3%;
}

#heartStyle{
  width: 175px;
  height: 175px;

 
  

}






/* mytaxi page */
#header{
  display: grid;
  margin-top: 5px;
  padding-left: 25%;
  padding-right: 25%;
  padding-right: 2%;
  color: rgb(108, 22, 189);
  grid-template-columns: 25% 30% 20%;
  grid-template-rows: 80% 20% ;
  background-image: linear-gradient(to left, rgb(235, 234, 255), rgb(211, 187, 255));
height: 10%;
}

#HeadContainer{
  border-bottom: 2px blue;
  border-style: inset;
  padding-bottom: 25px;
  
}
#head{
  font-family:monospace;
    font-size:100px;
    text-align:center;
    margin-top: 20px;
    text-shadow: 15px 15px #baadd8;
   
}

.headVertical{
  font-family:Courier;
  font-size:50px;
  text-align:center;
  writing-mode:  vertical-rl;
text-orientation:  mixed;
height: 10%;

}


#mapContainerStyle {
  width: 80%; 
  height: auto; 
  margin-left:10%;
  
}

#mapsStyle {
  width: 60%; 
  height: 500px;
  margin-left:20%;
}
#reservationInfo {
  display: grid;
 grid-template-columns: 50% 50%;
  margin: 4%;
  width: 60%;
  
  margin-top: 10px;
  background-image: linear-gradient(to right, rgb(235, 234, 255), rgb(101, 24, 245));
  border-style: none;
  margin-left: 20%;
  border-radius: 15px;
}

.reservationLabel {
  font-size:30px;
  margin:15px;
  width: 30%;
  color: rgb(50, 50, 207);
  
  
  
}

.reservationInput{
  width: 80%;
  margin: 2%;
  height: 35px;
  font-size: auto;
  text-align: center;
  color: blue;
  border-radius: 2%;
  border-radius: 20px;
  background-color: rgb(235, 234, 255);
  border:none;
  border-bottom-right-radius: 20px;
  
  
}



.submitButtons{
  background-image: linear-gradient(to right, rgb(94, 90, 221), rgb(161, 118, 247));
  border-radius: 15px;
  align-items: center;
  background-clip: padding-box;
  background-color: #134ff3;
  border: 1px solid transparent;
  
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
 
  position: relative;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  
  margin: 0;
  min-height: 3rem;

 
  
  transition: all 250ms;
  
  
  touch-action: manipulation;
 
  width: 40%;
}




.submitButtons:hover {
  transform: translateY(-5px);
}





#result{
  width: 25%;
  margin-left: 30%;
  border: #066aee 1px double;
  text-align: center;
  border-radius: 5%;
  background-color: #066aee;
  color: white;
}





/* footer part */
#footer{
  background-color: rgb(108, 2, 206);
  display: grid;
  
  grid-template-columns: 25% 25%  25%  25% ;
  grid-template-areas:"subFooter subFooter1 subFooter2 subFooter3";
  margin-top: 4%;
  height:10%;
width: 100%;
padding-left: 2%;
bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.footerLinks{
  color: #fff;
  text-decoration: none;
}

#subFooter{
  grid-area: subFooter;
}

#subFooter1{
  grid-area: subFooter1;
}
#subFooter2{
  grid-area: subFooter2;
}
#subFooter3{
  grid-area: subFooter3;
}
/* catchMe */









/* todo list */



.taskList {
  grid-area: task1;
  width: 70%;

  
  
}


.OkImg{
  grid-area: Ok;
  cursor: pointer;
}

.deleteImg{
  grid-area: delete;
  cursor: pointer;
}

#todoContainer{
  min-height: 60vh;
  
}

.sublist{
  background-color: #fff;
  
}
.titleL2{
margin-right: 50%;
}
.taskh2{
  text-align: left;
}
.img{
  width: 50%;
  height: 30px;
  margin-top: 20px;
}



#toDoList{
  display: grid;
  grid-template-columns: 40% 10% 10%;
  grid-template-rows: auto;
  grid-template-areas: 
  'task1 Ok delete';
  border-bottom: 1px blue double;
  width: 80%;
  margin-left: 4%;
}
/* homepage */





#infoContainer{
  display: grid;
  grid-template-columns: 10% 40% 40%;
  grid-template-rows: 60% 40% 40% 40%;
grid-template-areas: 
'port profil subInfo'
'port  subInfo-2 subInfo-3'
'port  myTaxi todo'
'port catch coming';
column-gap: 10px;
  row-gap: 15px;
  
  
  padding: 1%;
margin: 1%;
height: 100%;
margin-bottom: 10%;
}

#profil{

 
  
  border: #066aee 1px double;
  border-radius: 15px;
  padding: 3%;
  grid-area: profil;
  color: #066aee;
  
}

#foto{
  box-shadow: #16437e 5px 5px;
  width: 50%;
  height: auto;
  border-radius: 5%;
  margin: 4%;
}

#subInfo{
  grid-area: subInfo;
  border: #066aee 1px double;
border-radius: 15px;


}
#subInfo-2{
grid-area:subInfo-2 ;
border: #066aee 1px double;
border-radius: 15px;

}
#subInfo-3{
  grid-area:subInfo-3 ;
  border: #066aee 1px double;
border-radius: 15px;
}

#port{
  grid-area: port;
  border: #066aee 1px double;
border-radius: 15px;
}
#myTaxi{
grid-area: myTaxi;
border: #066aee 1px double;
border-radius: 15px;
}

#todo{
  grid-area: todo;
  border: #066aee 1px double;
border-radius: 15px;
}

#catch{
  grid-area:catch;
  border: #066aee 1px double;
border-radius: 15px;
}

#coming{
  grid-area: coming;
  border: #066aee 1px double;
border-radius: 15px;
}

.classSubinfo h1{
  font-size: 100%;
  color: #066aee;
  margin: 2%;
  text-align:justify;
}

#root{
  height: 100%;
}