

#mainContainerHome {
    
    background-image: url(./back.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 440px;
}

#test{
    font-size: 100px;
}

#profilePicture{
    width: 30%;
    border-radius: 50%;
    height: 350px;
}